@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}

.header{
    background-color: #8aa27b;
    border: 2px solid;
    padding-top: 16px;
    font-family: 'Cinzel';
}
body{
    background-color: whitesmoke;
}
.header .row{
    color: #fff;
}
.container {
    background-color: #fff;
    border: 2px solid black;
    max-width: 100%;
    margin: 40px;
}

.box {
    padding: 5px;
    background-color: #8eb27b;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    size: 20px;
    border-radius: 50%; 
    width: 120px;
}

.logo p {
    margin-top: 0;
}

.subject {
    display: flex;
    margin-top: 5%;
}

.subject h3 {
    font-size: 26px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.image img {
    width: 130px; 
    border-radius: 50%; 
}

.name {
    display: flex;
    flex-direction: columnx;
    font-size: 16px;
    margin: 0; 
    margin-top: 30%;
}

nav {
    display: flex;
}

nav li {
    display: inline-block;
    border: 1px solid black;
    padding: 16px;
}

nav li>a {
    color: #fff;
    text-decoration: none;
    padding: 16px;

}

nav li:hover {
    font-weight: bold;
    color:#fff;
    background-color: #8aa27b;
}

nav a:hover {
    box-shadow: black;
    color: #fff;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
.col-5{
    background-color: #8aa27b;
}

.milktea-image img{
    width: 100%; /* Set the image width to 100% to make it responsive */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure the image doesn't exceed its natural size */
}
.milktea-name{
    font-family: 'Cinzel';
    margin-top: -20px;
    text-shadow: 2px 2px 5px #fff;
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
}

.size{
    font-family: 'Poppins';
    margin-top: -13px;
    font-size: 25px;
    margin-left: 60px;
    text-align: left;
}

.adds{
    font-family: 'Poppins';
    margin-top: -10px;
    font-size: 25px;
    margin-left: 60px;
    text-align: left;
}

.milktea-description{
    font-family: 'Poppins';
    text-shadow: 2px 2px  5px floralwhite;
    font-size: 20px;
    padding: 20px;
}
.col-7{
    padding: 20px;
}

.col-7 h3{
    font-family: 'Cinzel';
    padding-top: 20px;
    padding-bottom: -20px;
}
input[type="checkbox"] {
    display: none;
}

.checkbox-container {
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 300px;
}

.checkbox-label {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins';
}

.checkbox-label p{
    margin-left: 10px;
}

.checkbox-image {
    width: 50px;
    height: 50px;
}

.price {
    font-family: 'Poppins';
    font-weight: 500;
    color:  #cc2900;
    margin-bottom: 10%;
}

input[type="checkbox"]:checked + .checkbox-label {
    border: 2px solid gray;
      color: #fff;
      box-shadow: 2px 2px black;
      transition: 0.3s;
      background-color: #8aa27b;
      border-radius: 10px;;
}


     /* Hide the default radio input */
     input[type="radio"] {
      display: none;
  }

  /* Style the custom radio container */
  .radio-container {
      display: inline-block;
      position: relative;
      margin: 10px;
      max-width: 700px;
  }

  /* Style the custom radio label */
  .radio-label {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      padding: 8px;
      border: 2px solid #ccc;
      border-radius: 10px;
      font-family: 'Poppins';
  }

  .radio-labels {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins';
}


  /* Style the custom radio image */
  .radio-image {
      width: 50px;
      height: 70px;
  }

  /* Style the radio button when it's checked */
  input[type="radio"]:checked + .radio-label {
      border: 2px solid gray;
      color: #fff;
      box-shadow: 2px 2px black;
      transition: 0.3s;
      background-color: #8aa27b;
      border-radius: 10px;
  }
  input[type="radio"]:checked + .radio-labels {
    border: 2px solid gray;
    color: #fff;
    box-shadow: 2px 2px black;
    transition: 0.3s;
    background-color: #8aa27b;
    border-radius: 10px;
}

.cart-box{
    font-size: larger;
    font-family: 'Cinzel';
    font-weight: bolder;
}
.containers {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
    max-width: 1200px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 0px; /* Add optional padding to the container's sides */
    box-sizing: border-box; /* Include padding and border in the width */
  }
    

/* For desktop: */
.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-1 {flex: 0 0 8.33%;}
  .col-2 {flex: 0 0 16.66%;}
  .col-3 {flex: 0 0 25%;}
  .col-4 {flex: 0 0 33.33%;}
  .col-5 {flex: 0 0 41.66%;}
  .col-6 {flex: 0 0 50%;}
  .col-7 {flex: 0 0 58.33%;}
  .col-8 {flex: 0 0 66.66%;}
  .col-9 {flex: 0 0 75%;}
  .col-10 {flex: 0 0 83.33%;}
  .col-11 {flex: 0 0 91.66%;}
  .col-12 {flex: 0 0 100%;}
  

footer{
    text-align: center;
    padding: 3px;
    font-size: small;
    font-family: 'Cinzel';
    color: white;
    background-color: #8aa27b;
}

@media only screen and (max-width: 768px) {
    .milktea-image {
        display: flex;
    }
    .profile-container {
        margin-left: 0; /* Remove left margin */
        margin-right: -x200px; /* Add right margin to move the profile-container to the right */
    }

    .name{
        text-align: center;
    }
    .header{
        text-align: center;
    }

    .image img {
        text-align: right;
    }

    .row {
        flex-direction: column;
    }

    
    .navbar-toggled {
        display: block;
      }
    
      .navbar-toggled li {
        display: block;
      }
  
      nav {
          flex-direction: column;
      }
  
    
      nav ul {
        display: none; 
        padding: 10px 0; 
      }
  
      .hamburger-menu {
        display: block;
      }
    

    [class*="col-"] {
        width: 100%;
        flex: 0 0 100%;
    }
}

